body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #D0D3D4;
}

header{
    background-color: #BA4A00;
    color: #F0F3F4;
    position: fixed;
    display: block;
    padding: 20px;
}

footer{
    background-color: #DC7633;
    color: #F0F3F4;
    display: block;
}

h1{
    font-size: 35px;
    color: black;
}

h2{
    font-size: 20px;
    color: black;
}

.contact-form{

    position: relative;

}